.headerwrapper {
    height: 100px;
    box-shadow: 0px 0px 10px #1976d257;
}

.imageGridItemWrapper {
    display: flex;
    align-items: center;
}

.headerImage{
    height: 80px;
    width: auto;
    margin-left: 10px;
    cursor: pointer;
}